.status {
  margin-top: 2em;
  font-size: 2.5em;
}
.statusSubMessage {
  font-size: 0.8em;
  margin-bottom: 6em;
}
.progressBarEmpty {
  width: 90%;
  max-width: 300px;
  margin: 1em auto;
  padding: 0.05em;
  border: 1px solid #ffa319;
}
.progressBarFilled {
  width: 5%;
  height: 0.5em;
  background: #ffa319;
  transition: width 3s ease-out;
}
