.rule.board {
  text-align: center;
}
.rule .ruleTable {
  display: table;
  border-spacing: 1em;
  width: 90%;
  margin: 2em auto;
  background: #f2f2f2;
  border: 1px dashed #666;
  border-radius: 0.5em;
}
.rule .ruleTable > div {
  display: table-cell;
  vertical-align: middle;
}
.rule .ruleTable .left {
  width: 33%;
  font-weight: bold;
}
.rule .ruleTable .right {
  width: 67%;
}
.rule .score {
  font-size: 2.5em;
  line-height: 2em;
  height: 2em;
  width: 2em;
  border-radius: 0.5em;
  margin: 0 auto 0.5em;
}
.rule h3 {
  margin-bottom: 0em;
}
.rule .okThreshold {
  font-style: italic;
  font-size: 0.9em;
}
.rule .message {
  width: 80%;
  margin: 1.5em auto;
}
.rule .message p {
  margin: 0.5em;
}
.rule .message ul {
  list-style-type: none;
  padding-left: 0;
}
.rule .message li:before {
  content: '\25e6';
  margin-right: 0.3em;
  font-size: 1.2em;
  position: relative;
  top: 0.1em;
}
.rule .warning {
  width: 90%;
  margin: -1em auto 2em;
  background: #FEE;
  border: 1px dashed #e74c3c;
  color: #e74c3c;
  border-radius: 0.5em;
}
.rule .offendersTable {
  display: table;
  border-spacing: 0 0.25em;
  margin: 0 auto;
  min-width: 10%;
  max-width: 90%;
}
.rule .offendersTable > div {
  display: table-row;
}
.rule .offendersTable > div > div {
  display: table-cell;
  background: #f2f2f2;
  padding: 0 1em;
  word-wrap: break-word;
  word-break: break-all;
}
.rule .offendersTable > div > div:hover {
  background: #EBD8E2;
}
.rule .notFound {
  font-size: 1em;
}
.rule .notFound h2 {
  font-size: 3em;
  margin-bottom: 1em;
}
.rule .startTime {
  display: none;
}
.offendersTable .offenderButton,
.value .offenderButton {
  display: inline-block;
  position: relative;
  background: #efe;
  padding: 0 0.5em;
  margin: 0.2em 0;
  border-radius: 0.4em;
  z-index: 1;
  cursor: pointer;
}
.offendersTable .offenderButton.opens,
.value .offenderButton.opens {
  padding-right: 0.75em;
}
.offendersTable .offenderButton.opens:after,
.value .offenderButton.opens:after {
  position: relative;
  left: 0.5em;
  content: '\25BC';
  font-size: 0.8em;
}
.offendersTable .offenderButton > div,
.value .offenderButton > div {
  display: none;
  position: absolute;
  right: 0;
  min-width: 100%;
  background: inherit;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  border-top: 1px solid #999;
  z-index: 2;
}
.offendersTable .offenderButton .domTree,
.value .offenderButton .domTree {
  text-align: left;
  white-space: nowrap;
}
.offendersTable .offenderButton .domTree > div,
.value .offenderButton .domTree > div {
  margin: 0.5em;
}
.offendersTable .offenderButton .domTree > div div,
.value .offenderButton .domTree > div div {
  margin-left: 1em;
}
.offendersTable .offenderButton .backtrace,
.value .offenderButton .backtrace,
.offendersTable .offenderButton .cssFileAndLine,
.value .offenderButton .cssFileAndLine {
  white-space: nowrap;
  padding: 0.5em;
}
.offendersTable .offenderButton.opens:hover,
.value .offenderButton.opens:hover {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: #ffe0cc;
  z-index: 2;
}
.offendersTable .offenderButton.opens:hover > div,
.value .offenderButton.opens:hover > div {
  display: block;
  background: #ffe0cc;
}
.offendersTable .smallerOffenders,
.value .smallerOffenders {
  font-size: 0.9em;
}
.offendersHtml {
  display: inline-block;
}
.domTree div {
  text-align: left;
  margin-left: 1em;
}
.domTree div span:only-child {
  font-weight: bold;
}
.domTree div span:only-child span {
  font-style: italic;
  font-weight: normal;
}
.checker {
  /* Checkerboard background */
  background-color: #ddd;
  background-image: linear-gradient(45deg, #AAA 25%, transparent 25%, transparent 75%, #AAA 75%, #AAA), linear-gradient(45deg, #AAA 25%, transparent 25%, transparent 75%, #AAA 75%, #AAA);
  background-size: 1em 1em;
  background-position: 0 0, 0.5em 0.5em;
}
.colorPalette {
  width: 30em;
  border: 2px solid #000;
  text-align: left;
}
.colorPalette > div {
  display: inline-block;
  height: 2em;
  position: relative;
}
.colorPalette > div div {
  display: none;
  position: absolute;
  left: 100%;
  top: 100%;
  background: #FFF;
  padding: 0.5em;
  border: 2px solid #f1c40f;
  border-radius: 0.5em;
  white-space: nowrap;
  z-index: 3;
  font-weight: bold;
}
.colorPalette > div:hover div {
  display: block;
}
.colorPalette > div:hover:after {
  content: " ";
  position: absolute;
  left: -0.2em;
  top: -0.2em;
  width: 100%;
  height: 100%;
  z-index: 2;
  border: 0.2em solid #f1c40f;
}
.similarColors {
  margin: 1em;
  width: 20em;
  height: 6em;
}
.similarColors > div {
  display: inline-block;
  width: 10em;
  height: 3.5em;
  padding-top: 2.5em;
}
.totalWeightPie {
  max-width: 20em;
  margin: 2em auto 4em;
}
.totalWeightPie canvas {
  max-width: inherit;
}
.offenderProblem {
  font-weight: bold;
  color: #e74c3c;
}
.imageOffenders {
  display: table;
  border-spacing: 3em;
  width: 90%;
}
.imageOffenders > div {
  display: table-row;
}
.imageOffenders > div > div {
  display: table-cell;
  vertical-align: middle;
}
.imageOffenders img {
  max-height: 10em;
  max-width: 40em;
  border: 1px solid #000;
  margin-top: 0.5em;
}
.smallPreview {
  display: block;
  max-height: 4em;
  max-width: 8em;
  border: 1px solid #000;
  margin: 1em auto 0.2em;
}
