.testedUrl {
    color: inherit;
}

.summary {
    text-align: center;
}

.globalScore {
    margin-bottom: 3em;
    .globalGrade {
        margin: 0.5 auto;
        width: 2.5em;
        height: 2.5em;
        line-height: 2.5em;
        border-radius: 0.5em;
        font-size: 3em;
        font-weight: bold;
        vertical-align: middle;
    }
    .on100 {
        font-size: 1.2em;
        font-weight: bold;
        margin: 0.5em 0 1em;
    }
    .tweetText {
        color: #333;
        background: #F2F2F2;
        border: none;
        width: 25em;
        padding: 0.4em;
        border-radius: 0.5em;
        box-shadow: 0.05em 0.1em 0 0 #999;
    }
    .tweetButton, .linkedinButton {
        color: #333;
        background: #F2F2F2;
        margin-right: 0;
        &:hover {
            color: #F2F2F2;
            background: #e74c3c;
        }
    }
    input {
        font-size: 0.9em;
    }
}

.notations {
    display: table;
    width: 80%;
    margin: 0 10%;
    border-spacing: 1em;
}
.notations > div {
    display: table-row;
}
.notations > div > div {
    display: table-cell;
    height: 2.5em;
    vertical-align: middle;
}
.notations .category {
    font-weight: bold;
    text-align: center;
    width: 20%;
}
.notations .criteria {
    font-weight: normal;
    width: 75%;
}
.A, .B, .C, .D, .E, .F, .NA {
    .notations &.categoryScore {
        width: 2.5em;
        max-width: 2.5em;
        min-width: 2.5em;
        font-size: 2em;
        text-align: center;
        border-radius: 0.5em;
        font-weight: bold;
    }
    .notations .grade & {
        width: 1em;
        height: 1em;
        font-size: 1em;
        color: transparent;
        margin: 0 auto;
        border-radius: 0.5em;
    }
}

.notations .criteria .table {
    width: 100%;
    > div:hover > div {
        background: #EBD8E2;
        cursor: pointer;
        &.info {
            background: #FFF;
            .icon-question {
                color: #EBD8E2;
            }
        }
    }
}
.notations .criteria .grade {
    width: 10%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    vertical-align: middle;
}
.notations .criteria .label {
    width: 70%;
}
.notations .criteria .result {
    width: 18%;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}
.notations .warning .label, .notations .warning .result, .notations .icon-warning {
    color: #FF1919;
}
.notations .criteria .info {
    width: 2%;
    text-align: center;
    vertical-align: middle;
    background: #FFF;
    padding-left: 0.1em;
    padding-right: 0.1em;
}
.notations .criteria .icon-question {
    color: transparent;
}

.fromShare {
    margin-bottom: 3em;
    a {
        font-size: 1em;
        padding: 0.3em 0.5em;
        margin: 0.5em;
        line-height: 2em;
        border: 0 solid;
        border-radius: 0.5em;
        box-shadow: 0.1em 0.2em 0 0 #5e2846;
        background: #e74c3c;
        color: #fff;
        text-decoration: none;
    }
}