@import "icons.less";

html {
    margin: 100px 50px;
}

body {
    margin: 0 auto;
    max-width: 1280px;
    background: #9c4274;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

body, input[type=submit], input[type=text], input[type=url], input[type=number], button {
    font-family: 'Century Gothic', helvetica, arial, sans-serif;
}

input[type=submit] {
    cursor: pointer;
}

h1 span {
    display: inline-block;
    height: 1em;
    width: 1em;
    color: #ffa319;
}

.footer {
    padding: 3em;
    color: #4e1836;
    a {
        color: inherit;
    }
    .star {
        font-weight: bold;
        span {
            font-size: 1.2em;
        }
    }
}

/* Icons */
.icon-lab {
    .icon(@lab);
}
.icon-question {
    .icon(@question);
}
.icon-warning {
    .icon(@warning);
}
.icon-back {
    .icon(@arrow-left3);
}
.icon-summary {
    .icon(@list);
}
.icon-spaghetti {
    .icon(@bars);
}
.icon-eye {
    .icon(@eye);
}