#status {
    margin-top: 2em;
    font-size: 2.5em;
}

@-webkit-keyframes rotating {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes rotating {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.waiting .icon-lab {
    -webkit-animation: rotating 3s linear 0s infinite;
    animation: rotating 3s linear 0s infinite;
}