html {
    margin: 100px 50px;
}

body {
    margin: 0 auto;
    max-width: 1280px;
    background: #9c4274;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

body, input[type=submit], input[type=text], input[type=number], button {
    font-family: 'Century Gothic', helvetica, arial, sans-serif;
}

input[type=text] {

}

input[type=submit] {
    cursor: pointer;
}