@font-face {
  font-family: "fontsmith-icons";
  src: url("/public/fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  margin: 100px 50px;
}
body {
  margin: 0 auto;
  max-width: 1280px;
  background: #9c4274;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
body,
input[type=submit],
input[type=text],
input[type=number],
button {
  font-family: 'Century Gothic', helvetica, arial, sans-serif;
}
input[type=submit] {
  cursor: pointer;
}
/* Icons */
.icon-lab {
  font-family: "fontsmith-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-lab:before {
  content: "\e004";
}
.icon-question {
  font-family: "fontsmith-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-question:before {
  content: "\e002";
}
.icon-warning {
  font-family: "fontsmith-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-warning:before {
  content: "\e000";
}
.icon-back {
  font-family: "fontsmith-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-back:before {
  content: "\e006";
}
.icon-summary {
  font-family: "fontsmith-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-summary:before {
  content: "\e003";
}
.icon-spaghetti {
  font-family: "fontsmith-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-spaghetti:before {
  content: "\e001";
}
.icon-metrics {
  font-family: "fontsmith-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-metrics:before {
  content: "\e005";
}
