<div ng-include="'/front/views/resultSubHeader.html'"></div>
<div class="summary board">
    <h2>Grades</h2>

    <div class="notations">
        <div ng-repeat="category in result.scoreProfiles.generic.categories">
            <grade score="category.categoryScore" class="categoryScore"></grade>
            <div class="category">{{category.label}}</div>
            <div class="criteria">
                <div class="table" title="Click to see details">
                    <div ng-repeat="ruleName in category.rules" 
                         ng-init="rule = result.rules[ruleName]"
                         ng-class="{'warning': rule.abnormal}"
                         ng-click="showRulePage(ruleName)">
                        <div class="grade">
                            <grade score="rule.score"></grade>
                        </div>
                        <div class="label">{{rule.policy.label}}</div>
                        <div class="result">
                            {{rule.value}}
                            <span ng-if="rule.abnormal" class="icon-warning"></span>
                            <span ng-if="rule.abnormalityScore <= -100" class="icon-warning"></span>
                            <span ng-if="rule.abnormalityScore <= -300" class="icon-warning"></span>
                        </div>
                        <div class="info"><span class="icon-question"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>