<h2 class="promess">Online test to help speeding up <b>heavy</b> web pages</h2>
<p class="price">Free and open source!</p>

<form ng-submit="launchTest()" >
    <input type="text" name="url" ng-model="url" placeholder="http://www.mysite.com" class="url" />
    <input type="submit" value="Launch test" class="launchBtn" ng-class="{disabled: !url}" />
</form>


<div class="features">
    <div>
        <h3>Front-end quality</h3>
        <p>Audits quality problems in the HTML, CSS and JS</p>
    </div>

    <div>
        <h3>WebPerf</h3>
        <p>Checks if performance good practices are applied</p>
    </div>

    <div>
        <h3>JS Profiling</h3>
        <p>Untangles the JavaScript spaghetti code</p>
    </div>
</div>