<h2 class="promess">Online test to help speeding up <b>heavy</b> web pages</h2>
<p class="price">Free and open source!</p>

<form ng-submit="launchTest()" >
    <input type="text" name="url" ng-model="url" placeholder="http://www.mysite.com" class="url" />
    <input type="submit" value="Launch test" class="launchBtn" ng-class="{disabled: !url}" />
    <div class="settings">
        <div class="device">
            <div>Choose the simulated device:</div>
            <a href="" class="item" ng-class="{active: settings.device == 'desktop'}" ng-click="settings.device = 'desktop'"><div class="icon-screen"></div>Desktop</a>
            <a href="" class="item" ng-class="{active: settings.device == 'tablet'}" ng-click="settings.device = 'tablet'"><div class="icon-tablet"></div>Tablet</a>
            <a href="" class="item" ng-class="{active: settings.device == 'phone'}" ng-click="settings.device = 'phone'"><div class="icon-mobile"></div>Phone</a>
        </div>
        [ <a href="" class="showAdvanced" ng-click="settings.showAdvanced = !settings.showAdvanced">
            <span ng-if="!settings.showAdvanced">Advanced settings &nbsp;✚</span>
            <span ng-if="settings.showAdvanced">Hide advanced settings &nbsp;✖</span>
        </a> ]
        <span class="currentSettings" ng-if="!settings.showAdvanced && (settings.waitForSelector || settings.cookie || settings.authUser || settings.authPass || settings.proxy || settings.domains)">
            Currently set:
            <span ng-if="settings.waitForSelector">wait for selector</span>
            <span ng-if="settings.cookie">cookie</span>
            <span ng-if="settings.authUser || settings.authPass">authentication</span>
            <span ng-if="settings.proxy">proxy</span>
            <span ng-if="settings.domains">domain blocking</span>
        </span>
        <div class="advanced" ng-show="settings.showAdvanced">
            <!--<div>
                <div class="label">
                    Wait selector
                    <span class="settingsTooltip">
                        <span class="icon-question"></span>
                        <div><b>Wait for a CSS selector</b><br><br>Once the page is considered loaded, PhantomJS will repeatedly try to match the given CSS selector until it is found in the page. A 60 seconds timeout still applies anyway.<br><br>Example: "body.loaded"</div>
                    </span>
                </div>
                <div><input type="text" name="waitForSelector" ng-model="settings.waitForSelector" /></div>
            </div>-->
            <div>
                <div class="label">
                    Cookie
                    <span class="settingsTooltip">
                        <span class="icon-question"></span>
                        <div><b>Cookie</b><br><br>Adds cookies, separated by a pipe character.<br><br>Example: "bar1=foo1;domain=.domain1.com|bar2=foo2;domain=www.domain2.com"</div>
                    </span>
                </div>
                <div><input type="text" name="cookie" ng-model="settings.cookie" /></div>
            </div>
            <div>
                <div class="label">
                    Authent
                    <span class="settingsTooltip">
                        <span class="icon-question"></span>
                        <div><b>Basic HTTP authentication</b><br><br>Enter your credentials here if you need to bypass a basic authentication.<br><br><i>PS: if your authentication is not basic, you might be able to copy the session cookie from your browser, paste it in the "Cookie" setting and launch a run before your cookie expires.</i></div>
                    </span>
                </div>
                <div class="subTable">
                    <div>
                        <div>username</div>
                        <div><input type="text" class="authField" name="authUser" ng-model="settings.authUser" /></div>
                    </div>
                    <div>
                        <div><span>password</div>
                        <div><input type="password" class="authField" name="authPass" ng-model="settings.authPass" /></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="label">
                    HTTP proxy
                    <span class="settingsTooltip">
                        <span class="icon-question"></span>
                        <div><b>HTTP proxy</b><br><br>Insert here your proxy settings with the format "host:port".<br><br>Example: "192.168.10.0:3333"</div>
                    </span>
                </div>
                <div><input type="text" name="proxy" ng-model="settings.proxy" /></div>
            </div>
            <div>
                <div class="label">
                    Block domains
                    <span class="settingsTooltip">
                        <span class="icon-question"></span>
                        <div><b>Block some domains</b><br><br>One line per domain or subdomain.<br><br><i><b>Example:</b><br>google-analytics.com<br>ads.yahoo.com<br>ajax.googleapis.com</i><br><br>An empty whitelist will block all domains except the main domain.</div>
                    </span>
                </div>
                <div>
                    <div>
                        <input type="radio" name="blackOrWhite" ng-model="settings.domainsBlackOrWhite" value="black" />blacklist
                        <input type="radio" name="blackOrWhite" ng-model="settings.domainsBlackOrWhite" value="white" />whitelist
                    </div>
                    <textarea name="domains" ng-model="settings.domains" rows="5"></textarea>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="features">
    <div>
        <h3>Front-end quality</h3>
        <p>Audits quality problems in the HTML, CSS and JS</p>
    </div>

    <div>
        <h3>WebPerf</h3>
        <p>Checks if performance good practices are applied</p>
    </div>

    <div>
        <h3>JS Profiling</h3>
        <p>Untangles the JavaScript spaghetti code</p>
    </div>
</div>
