<h2 class="promess">Online test to help speeding up <b>heavy</b> web pages</h2>
<p class="price">Free and open source!</p>

<form ng-submit="launchTest()" >
    <input type="text" name="url" ng-model="url" placeholder="http://www.mysite.com" class="url" />
    <input type="submit" value="Launch test" class="launchBtn" ng-class="{disabled: !url}" />
    <div class="settings">
        <div class="device">
            <div>Choose the simulated device:</div>
            <div class="item" ng-class="{active: settings.device == 'desktop'}" ng-click="settings.device = 'desktop'"><div class="icon-screen"></div>Desktop</div>
            <div class="item" ng-class="{active: settings.device == 'tablet'}" ng-click="settings.device = 'tablet'"><div class="icon-tablet"></div>Tablet</div>
            <div class="item" ng-class="{active: settings.device == 'phone'}" ng-click="settings.device = 'phone'"><div class="icon-mobile"></div>Phone</div>
        </div>
    </div>
</form>


<div class="features">
    <div>
        <h3>Front-end quality</h3>
        <p>Audits quality problems in the HTML, CSS and JS</p>
    </div>

    <div>
        <h3>WebPerf</h3>
        <p>Checks if performance good practices are applied</p>
    </div>

    <div>
        <h3>JS Profiling</h3>
        <p>Untangles the JavaScript spaghetti code</p>
    </div>
</div>