<p ng-if="url">Tested url: &nbsp; <a href="{{url}}" target="_blank" class="testedUrl">{{url}}</a></p>

<div ng-if="!notFound && !connectionLost">
    <div ng-if="status.statusCode == 'failed'">
        <div class="status">Test failed</div>
        <p class="statusSubMessage">{{status.error}}</p>
        
        <a class="linkButton" href="https://github.com/gmetais/YellowLabTools/issues" target="_blank">Report the issue on GitHub</a>
        <a class="linkButton" href="<%= baseUrl %>">New test</a>
    </div>
    <div ng-if="status.statusCode == 'awaiting'">
        <div class="status">
            <ng-pluralize count="status.position" when="{'one': 'Waiting behind 1 other test', 'other': 'Waiting behind {} other tests'}">
            </ng-pluralize>
        </div>
        <p class="statusSubMessage">(auto-refresh activated)</p>
    </div>
    <div ng-if="status.statusCode == 'running'">
        <div class="status">Test is running...</div>
        <p class="statusSubMessage">(auto-refresh activated)</p>
    </div>
    <div ng-if="status.statusCode == 'complete'">
        <div class="status">Test complete</div>
        <p class="statusSubMessage">Opening results...</p>
    </div>
</div>
<div ng-if="notFound == true">
    <div class="status">Error 404 (test not found)</div>
    <p class="statusSubMessage">The server probably just rebooted. We are very sorry about that, please try to launch the test again.</p>
    
    <a class="linkButton" href="<%= baseUrl %>">New test</a>
</div>
<div ng-if="connectionLost == true">
    <div class="status">Connection lost with server</div>
    <p class="statusSubMessage">Check your wifi cable, or maybe YellowLab.tools is rebooting.</p>
</div>