<div ng-include="'/front/views/resultSubHeader.html'"></div>
<div class="rule board">
    <div class="backToDashboard"><a href="#" ng-click="backToDashboard()">Back to dashboard</a></div>

    <div ng-if="rule" class="ruleTable">
        <div class="left">
            <h2>{{rule.policy.label}}</h2>
            <grade score="rule.score" class="score"></grade>
            <div>{{rule.score}}/100</div>
        </div>
        <div class="right">
            <h3>Value: {{rule.value}}</h3>
            <div ng-bind-html="message" class="message"></div>
        </div>
    </div>
    <div ng-if="rule.abnormal" class="warning">
        <h3>Warning</h3>
        <p>This rule reached the abnormality threshold, which means there is a real problem you should care about.</p>
    </div>
    <div class="offenders">
        <h3>
            <ng-pluralize count="rule.offenders.length || 0"
                 when="{'0': 'No offenders',
                        'one': '1 offender',
                        'other': '{} offenders'}">
            </ng-pluralize>
        </h3>
        <div class="offendersTable">
            <div ng-repeat="offender in rule.offenders track by $index">
                <div>{{offender}}</div>
            </div>
        </div>
    </div>
    <div ng-if="!rule && rule !== null" class="notFound">
        <h2>404</h2>
        Rule "{{policyName}}"" not found
    </div>

    <div class="backToDashboard"><a href="#" ng-click="backToDashboard()">Back to dashboard</a></div>
</div>