<div ng-include="'views/resultSubHeader.html'"></div>
<div class="screenshot board">
    <h2>Screenshot</h2>

    <div class="screenshotWrapper" ng-class="result.params.options.device || 'desktop'">
        <div>
            <img ng-if="result.screenshotUrl" class="screenshotImage" ng-src="{{result.screenshotUrl}}"/>
            <span ng-if="!result.screenshotUrl" class="screenshotError">Screenshot not available</span>
        </div>
    </div>

    <p>(scroll on the screenshot to see under the fold)</p>

    <div class="backToDashboard"><a href="#" ng-click="backToDashboard()">Back to dashboard</a></div>
</div>