<div ng-include="'views/resultSubHeader.html'"></div>
<div class="execution board">
    <div class="selectScript" ng-class="{empty:!selectedScript}">
        Filter timeline and profiler by script:
        <select ng-model="selectedScript" ng-options="script.shortPath for script in scripts" ng-change="changeScript()">
            <option value="">All (no filter)</option>
        </select>
    </div>

    <h2>Javascript Timeline</h2>
    <p>This graph gives a quick view of when the Javascript interactions with the DOM occur during the loading of the page.</p>

    <div class="timeline">
        <div class="chart">
            <div class="chartPoints">
                <div ng-repeat="duration in timeline track by $index"
                     class="interval"
                     ng-class="{
                        domCreation: $index * timelineIntervalDuration < result.toolsResults.phantomas.metrics.domInteractive,
                        domInteractive: $index * timelineIntervalDuration >= result.toolsResults.phantomas.metrics.domInteractive
                            && $index * timelineIntervalDuration < result.toolsResults.phantomas.metrics.domContentLoaded,
                        domContentLoaded: $index * timelineIntervalDuration >= result.toolsResults.phantomas.metrics.domContentLoaded
                            && $index * timelineIntervalDuration < result.toolsResults.phantomas.metrics.domContentLoadedEnd,
                        domContentLoadedEnd: $index * timelineIntervalDuration >= result.toolsResults.phantomas.metrics.domContentLoadedEnd
                            && $index * timelineIntervalDuration < result.toolsResults.phantomas.metrics.domComplete,
                        domComplete: $index * timelineIntervalDuration >= result.toolsResults.phantomas.metrics.domComplete
                     }">
                    <div style="height: {{100 * duration / timelineMax | number: 0}}px" class="color" ng-class="{clickable: duration > 0}" scroll-on-click="{{$index * timelineIntervalDuration}}"></div>
                    <div class="tooltip detailsOverlay">
                        <div>
                            Timestamp: {{$index * timelineIntervalDuration | number: 0}} ms
                        </div>
                    </div>
                </div>
            </div>
            <div class="startTime">0 ms</div>
            <div class="endTime">{{endTime | number: 0}} ms</div>
        </div>
        <div class="legend">
            <div class="titles">
                <div class="domCreation"><div class="color"></div>DOM creation</div>
                <div class="domInteractive"><div class="color"></div>DOM interactive</div>
                <div class="domContentLoaded"><div class="color"></div>DOM content loaded event</div>
                <div class="domContentLoadedEnd"><div class="color"></div>Page completion</div>
                <div class="domComplete"><div class="color"></div>Page is complete</div>
            </div>
            <div class="tips">
                <div>Executing Javascript and DOM queries here is a <b>bad practice</b> and slows down the DOM construction.</div>
                <div>Some frameworks do things here, but it's not reliable and should be avoided.</div>
                <div>Also known as "document ready". This is where you should execute <b>top-priority</b> scripts, like binding action buttons or launch a video player.</div>
                <div>Here you can execute <b>mid-priority</b> tasks. Loading a script with createElement('script') is one way to do so.</div>
                <div>The page is considered loaded, it's time for low <b>priority things</b> : trackers, social plugins, easter egg...</div>
            </div>
        </div>
    </div>

    <h2>Javascript Profiler</h2>
    <p>
        The table below shows the interactions between Javascript and the DOM. It is useful to understand what happens while the page loads.
    </p>
    <div class="filters">
        <div>
            <input type="checkbox" ng-model="warningsFilterOn" id="warningsFilterOn" />
            <label for="warningsFilterOn">Show warnings only</label>
        </div>
    </div>
    <div class="table">

        <toto data-info="mavariable"></toto>
        <div class="headers">
            <div><!-- index --></div>
            <div>Type</div>
            <div>Params</div>
            <div><!-- details --></div>
            <div>Timestamp</div>
        </div>
        <div ng-if="(!warningsFilterOn || node.warning || node.error)"
             ng-repeat="node in profilerData" ng-class="{
                showingDetails: node.showDetails,
                jsError: node.error,
                windowPerformance: node.windowPerformance
             }" id="line_{{$index}}">

            <div class="index">{{$index + 1}}</div>
            <div class="type">
                {{node.data.type}}
                <js-children node="node"></js-children>
            </div>

            <timeline-params node="node"></timeline-params>

            <div class="details">
                <div ng-class="{'icon-question': !node.warning && !node.error, 'icon-warning': node.warning || node.error}"
                     ng-click="onNodeDetailsClick(node)"
                     ng-if="node.data.type != 'jQuery loaded' && node.data.type != 'jQuery version change' && !node.windowPerformance"></div>
                
                <div class="detailsOverlay" ng-if="node.showDetails">
                    <div class="closeBtn" ng-click="onNodeDetailsClick(node)">✖</div>

                    <div ng-if="node.data.callDetails.context.length === 0">
                        <h4>Called on 0 jQuery element</h4>
                        <p class="advice">Useless function call, as the jQuery object is empty.</p>
                    </div>

                    <p class="advice" ng-if="node.data.type == 'jQuery - bind' && node.data.callDetails.context.length > 5">
                        The .bind() method attaches the event listener to each jQuery element one by one. Using the .on() method is preferable if available (from v1.7).
                    </p>

                    <p class="advice" ng-if="node.data.resultsNumber === 0">
                        The query returned 0 results. Could it be unused or dead code?
                    </p>
                    <p ng-if="node.data.resultsNumber > 0">
                        The query returned <ng-pluralize count="node.data.resultsNumber" when="{'one': '1 result', 'other': '{} results'}"></ng-pluralize>.
                    </p>

                    <div ng-if="node.parsedBacktrace">
                        <h4>Backtrace</h4>
                        <div class="table">
                            <div ng-repeat="trace in node.parsedBacktrace track by $index">
                                <div>{{trace.fnName || '(anonymous)'}}</div>
                                <div class="trace"><url-link url="trace.filePath" max-length="40"></url-link>:{{trace.line}}</div>
                            </div>
                            <div ng-if="node.parsedBacktrace.length == 0 && node.data.type != 'script loaded'">
                                <div>can't find any backtrace :/</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="startTime" ng-class="node.data.loadingStep">{{node.data.timestamp | number: 0}} ms</div>
        </div>
    </div>

    <div class="backToDashboard"><a href="#" ng-click="backToDashboard()">Back to dashboard</a></div>
</div>